
   
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <center> <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> </center>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
         
         <br>
         <br>
         <br>
         
         <center> <p> Bea De Oliveira is a current senior and A.B. Scholar at Duke University studying Computer Science. She hopes to pursue a career in software engineering or ML. </p> </center>
         <center> <p> <b> Email: </b> beatriz.de.oliveira@duke.edu  </p> </center>
         <center> <a href="https://www.linkedin.com/in/beatriz-de-oliveira-3489a812a/">LinkedIn Profile</a> </center>
         <center> <a href="{{ site.github.owner_url }}">GitHub Profile</a> </center>
         
         <br>
         <br>
         <br>
     
         
        <p>{{ site.description | default: site.github.project_tagline }}</p>

   
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
